html,
body {
    padding: 0;
    margin: 0;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.08);
}

nav {
    height: 10vh;
    margin-bottom: 2vh;
}

nav .h1 {
    color: white;
    font-size: 7vh;
}

nav ul li {
    margin: 0 2vh;
}

nav ul li a {
    color: white;
}

#main {
    height: 90vh;
}

map-box {
    position: relative;
    height: 88vh;
}

map-box h2 {
    display: inline-block;
    position: absolute;
    margin: 2vh 5vmax;
    font-size: 4vmin;
}

map-box::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./img/map.jpg);
    filter: blur(8px);
    z-index: -2;
}

#mapid {
    width: 80%;
    height: 70vh;
    margin: 10vh auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.08);
}

@media (max-width: 575.98px) {
    #mapid {
        height: 75vh;
        width: 90%;
        margin: 8vh auto;
    }
    map-box h2 {
        font-size: 6vmin;
    }
}

#mapid p {
    margin: 0;
    padding: 0;
}

.popup-name {
    font-weight: bold;
}

/* LOGIN PANEL */

login-panel {
    background-size: 20vmax;
    text-align: center;
}

#main .row .col-sm-5 {
    padding: 0;
}

#login-panel-menu {
    width: 100%;
    margin: 0;
}

login-panel form {
    border: 1px solid white;
    border-radius: 2vh;
    text-align: left;
    color: white;
    padding: 2vmax 5vmax;
    margin: 3vmax;
}

login-panel .btn {
    border-radius: 0px;
}

login-panel form input {
    width: 100%;
    margin: .5vmin auto;
}

#login_form form {
    background-color: rgba(11, 97, 254, 0.9);
}

#signin_form form {
    background-color: rgba(36, 180, 0, 0.9);
}

/* GAME SECTION */
#games {
    display: flex;
    flex-wrap: wrap;
}

.game {
    width: 20em;
    box-sizing: border-box;
    background-color: rgb(208, 216, 186);
    border-radius: 1vh;
    padding: 1vh;
    margin: 1vh;
}

.game p {
    margin: 0;
    padding: 0;
}

/* FRIENDS SECTION */
#friends {
    display: block
}

.friend {
    width: 100%;
    box-sizing: border-box;
    background-color: lightsalmon;
    border-radius: 1vh;
    padding: 1vh;
    margin: 1vh;
}

.friend p {
    margin: 0;
    padding: 0;
}


/* FOOTER */
footer {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
    width: 100vw;
    height: 2vh;
    color: white;
    text-align: center;
    font-size: 1.5vh;
    background-color: green;
}

.err {
    color: rgb(255, 95, 95);
}

.window-popup {
    display: block;
    /* transform-origin: 50% 50%;
    top: 50%;
    left: 50%; */
    border: 1px solid black;
}